<div class="mdl-layout mdl-js-layout mdl-layout__header--scroll mdl-layout--fixed-header">  <!-- add mdl-layout--fixed-header -->
    <header class="mdl-layout__header mdl-layout__header--primary">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Aqua Score</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation mdl-cell--hide-phone"> <!-- add mdl-cell--hide-phone -->
                <a class="mdl-navigation__link" href="/home">Home</a>
                <a class="mdl-navigation__link" href="/myteam">My team</a>
                <a class="mdl-navigation__link" href="/mygroups">My groups</a>
                <a class="mdl-navigation__link" href="/newgroup">New group</a>
                <a class="mdl-navigation__link" href="/calendar">Race calendar</a>
                <a class="mdl-navigation__link" href="/calendarupload">Race calendar data</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--fixed-drawer"> <!-- add mdl-layout--fixed-drawer AND mdl-cell--hide-desktop -->
        <span class="mdl-layout-title">Aqua Score</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/home">Home</a>
            <a class="mdl-navigation__link" href="/myteam">My team</a>
            <a class="mdl-navigation__link" href="/mygroups">My groups</a>
            <a class="mdl-navigation__link" href="/newgroup">New group</a>
            <a class="mdl-navigation__link" href="/calendar">Race calendar</a>
            <a class="mdl-navigation__link" href="/calendarupload">Race calendar data</a>
        </nav>
    </div>

    <main class="mdl-layout__content">  <!-- add main ding -->

        <div class="mdl-layout container">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <table class="playerInfo">
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                        <tr *ngFor="let user of users and let point of points" >
                            <td>
                                {{user.nickname}}
                            </td>
                            {{0}}
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </main>
</div>
