<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--primary">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Aqua Score</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/home">Home</a>
                <a class="mdl-navigation__link" href="/myteam">My team</a>
                <a class="mdl-navigation__link" href="/mygroups">My groups</a>
                <a class="mdl-navigation__link" href="/newgroup">New group</a>
                <a class="mdl-navigation__link" href="/calendar">Race calendar</a>
                <a class="mdl-navigation__link" href="/calendarupload">Race calendar data</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Aqua Score</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/home">Home</a>
            <a class="mdl-navigation__link" href="/myteam">My team</a>
            <a class="mdl-navigation__link" href="/mygroups">My groups</a>
            <a class="mdl-navigation__link" href="/newgroup">New group</a>
            <a class="mdl-navigation__link" href="/calendar">Race calendar</a>
            <a class="mdl-navigation__link" href="/calendarupload">Race calendar data</a>
        </nav>
    </div>
    <div class="mdl-layout container" ng-app="newGroup">
        <div class="mdl-grid">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <input class="mdl-textfield__input" type="text" id="groupName" />
                <label class="mdl-textfield__label" for="groupName">Group name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--4-col-phone" ng-controller="inputCntrl">
                <input
                    class="mdl-textfield__input"
                    type="text"
                    id="userFinder"
                    (change)="findUser($event)"/>
                <label class="mdl-textfield__label" for="groupName">find by nickname</label>
                <div><p id="selectedUser">None selected</p></div>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col mdl-cell--6-col-tablet mdl-cell--4-col-phone"
            >
            <div class="userlist">
                <p>Users in group</p>
                    <ul class="list">
                
                </ul></div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                (click)="createGroup()">
                Create Group
            </button>
        </div>
    </div>
</div>
<div class="succes"><p>Created new group</p></div>



