<div class="mdl-layout mdl-js-layout mdl-layout__header--scroll mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--primary">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Aqua Score</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation mdl-cell--hide-phone">
                <a class="mdl-navigation__link" href="/home">Home</a>
                <a class="mdl-navigation__link" href="/myteam">My team</a>
                <a class="mdl-navigation__link" href="/mygroups">My groups</a>
                <a class="mdl-navigation__link" href="/newgroup">New group</a>
                <a class="mdl-navigation__link" href="/calendar">Race calendar</a>
                <a class="mdl-navigation__link" href="/calendarupload">Race calendar data</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--fixed-drawer">
        <span class="mdl-layout-title">Aqua Score</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/home">Home</a>
            <a class="mdl-navigation__link" href="/myteam">My team</a>
            <a class="mdl-navigation__link" href="/mygroups">My groups</a>
            <a class="mdl-navigation__link" href="/newgroup">New group</a>
            <a class="mdl-navigation__link" href="/calendar">Race calendar</a>
            <a class="mdl-navigation__link" href="/calendarupload">Race calendar data</a>
        </nav>
    </div>

    <main class="mdl-layout__content">

    <div
        class="mdl-cell mdl-grid mdl-grid--no-spacing mdl-cell--9-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet">
        <div class="col">
            <h2>Add Races</h2>
            <form>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" ng-model="myDate" id="date" required>
                    <label class="mdl-textfield__label" for="date">date...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="location">
                    <label class="mdl-textfield__label" for="location">Location...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}" id="time" required>
                    <label class="mdl-textfield__label" for="time">Time...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="group" name="octane">
                        <option *ngFor="let group of group">{{ group.name }}</option>
                    </select>
                    <label class="mdl-textfield__label" for="group"></label>
                </div>
            </form>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    (click)="addNewRace($event)">
                Add
            </button>
        </div>
    </div>
    </main>
</div>
